/* Загальні налаштування */

body {
  padding-left: 230px;
  padding-right: 230px;

  background-color: black;
  margin: 0;
}

p {
  font-size: 24px;
}

/* Хедер та навігація */

.header {
  width: 100%;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 20px;
}

.nav {
  display: flex;
  width: fit-content;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  flex-wrap: wrap;
}

.nav a {
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}

/* Контейнери */

.container-flex {
  /* Базовий контейнер */
  background-color: rgba(255, 255, 255, 0.733);
  padding: 20px;
  margin: 20px 20px 20px 20px;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
}

.container-container {
  /* Контейнер для контрейнерів (коли потрібно два в ряд */
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-header-wrapper {
  /* Контейнер для контейнеру заголовків (для центрації у випадку потреби */
  width: 100%;
  display: flex;
  justify-content: center;
}

.container-header {
  /* Контейнер для  заголовків */
  width: 100%;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.705);
  color: black;
  border-radius: 20px;
  text-align: center;
  margin: 20px;
}

.container-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

/* Секції */

.section {
  background-color: rgba(245, 245, 245, 0.185);
  color: whitesmoke;
  padding: 20px 30px 20px 30px;
  margin-bottom: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* .section-title {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.section-text {
  background-color: rgba(153, 205, 50, 0);
  padding: 1px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
}

.section h1 {
  text-align: center;
}
/* Коробки */

.box {
  height: 120px;
  width: 120px;
  background-color: teal;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

/* Налаштування */

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-grow-4 {
  flex-grow: 1;
}

.flex-direction-row-reverse {
  flex-direction: row-reverse;
  justify-content: left;
}

.flex-direction-column-reverse {
  flex-direction: column-reverse;
}
